<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head (title)">

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>


    <title th:text="${title}"></title>

    <link
          th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"
          rel="stylesheet" media="all"/>

    <link
          th:href="@{/webjars/typicons/2.0.7/typicons.min.css}"
          rel="stylesheet" media="all"/>

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <style>
        .horizontal-group{
            overflow-x: auto;
        }

        * {
            font-family: "Courier New";
        }

    </style>

</head>
<body>

<div class="container-fluid bg-white text-dark" th:fragment="header (title)">
    <p class="p-1">
        <a href="/" >zckd</a> / <th:block th:text="${title}"> d</th:block>
    </p>

</div>

</body>
</html>
