<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head (title)">

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>


    <title>zckd</title>

    <link
          th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"
          rel="stylesheet" media="all"/>

    <link
          th:href="@{/webjars/typicons/2.0.7/typicons.min.css}"
          rel="stylesheet" media="all"/>


    <style>
        .horizontal-group{
            overflow-x: auto;
        }
    </style>

</head>
<body>

<div class="container-fluid bg-dark text-white" th:fragment="header">
    <h3 class="p-1">
        zckd photography
    </h3>
</div>

</body>
</html>
