<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/header :: head (title='about')">
</head>

<body>
<div th:replace="fragments/header :: header (title='about')">&nbsp;</div>



<div class="container">
    <div class="card mx-auto mt-5" style="width: 30rem">
        <div class="card-header">
            about
        </div>
        <div class="card-body">
            <a class="card-text">
                Built with Java / Spring MVC.
                <br><br>
                <strike>Hosted on an <a href="https://aws.amazon.com/">AWS</a> t2.micro, running Amazon Linux (cheap but not versatile). Photographs stored in an AWS S3. Cost =  ~£3.00 per month. </strike>
                <br><br>
                Hosted on a <a href="https://www.digitalocean.com"/>DigitalOcean</a> virtual machine running Ubuntu 18.04.3 (LTS) x64, with 1GB memory, and 25GB storage Cost = $5.00 (~£4.07) per month.
                <br><br>
                Domain hosted by <a href="https://www.namecheap.com/">Namecheap</a>
                <br><br>
                <a href="https://github.com/zackdove/photo-app">Git repo here.</a>
            </p>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer">...</div>
</body>

</html>