<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/header :: head (title='zckd')">
</head>

<body>

    <div class="container">
<div class="card mx-auto mt-5" style="width: 18rem">
    <div class="card-header">
        zckd
    </div>
    <div class="card-body">
        <p class="card-text">A website to link things together.</p>

        <p class="text-center">
            <button class="btn btn-light" type="button" data-toggle="collapse" data-target="#collapseLinks" aria-expanded="false" aria-controls="collapseLinks">
                ⬖
            </button>
        </p>
        <div class="collapse" id="collapseLinks">
            <div class="card card-body">
                <a href="/photographs">photographs</a>
                <a href="https://github.com/zackdove">github</a>
                <a href="https://www.linkedin.com/in/zack-dove-533ab692/">linkedin</a>
                <a href="https://zckdcode.tumblr.com/">code blog</a>
            </div>
        </div>
    </div>
</div>
</div>


<div th:replace="fragments/footer :: footer">...</div>
</body>

</html>