<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/header :: head (title='Room')">
</head>

<body>
    <div th:replace="fragments/header :: header">&nbsp;</div>



    <div class="container horizontal-group pt-5">
        <div class="row flex-nowrap">
            <div class="col-10" th:each="photo : ${photos}">
                <img class="img-fluid" th:src="@{${photo}}"/>
            </div>
        </div>
    </div>

    <div th:replace="fragments/footer :: footer">...</div>
</body>

</html>