<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/header :: head (title='Room')">
</head>

<body>
    <div th:replace="fragments/header :: header">&nbsp;</div>

    <H1>Hello world x</H1>

    <div class="container-fluid">
        <table class="table">
            <img th:src="@{/images/000001bw.jpg}"/>
            <tr th:each="photo : ${photos}">
                <td>
                    <img th:src="@{${photo}}"/>
                </td>
            </tr>
        </table>
    </div>

    <div th:replace="fragments/footer :: footer">...</div>
</body>

</html>